@charset 'UTF-8';

* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    height: 100vh;

    background-image: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    animation: bg 50s infinite alternate linear;
}

@keyframes bg {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%;
    }
}

#box {
    background-color: rgb(100, 149, 237, 0.692);
    width: 100px;
    height: 100px;
    box-shadow: inset #0000007c 0 -5px 20px, inset #0000007c 0 5px 20px;

    animation: rotate 1s infinite alternate ease-out;

    border-radius: 0 0 0 0;
}

input {
    margin: 20px 50px;
    width: 38px;
    font-size: 1em;
    padding: 5px;
    box-shadow: #f835f84b 0 0 10px;

    background-color: #00000083;
    color: white;
    border: 0;
    border-radius: 20px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btn {
    width: fit-content;
    font-size: medium;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

#btn:hover {
    transform: scale(1.08);
    box-shadow: #aa35f85e 0 0 15px;
}

#btn:active {
    transform: scale(0.97);
    box-shadow: #aa35f8bd 0 0 15px, inset #8035f86e 0 0 10px;
}

#welcome {
    text-indent: 8px;

    overflow: hidden;
    white-space: nowrap;

    animation: typing 2s steps(17), typing-border infinite 0.3s linear alternate;
}

#welcome,
#code {
    margin-top: 20px;
    padding: 10px;

    font-size: 1.3em;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-shadow: #9d53ff88 0 2px 5px;
}

@keyframes typing {
    from {
        width: 0px;
    }

    to {
        width: 10em;
    }
}

@keyframes typing-border {
    from {
        border-right: rgb(255, 255, 255) solid 2px;
    }

    to {
        border-right: transparent solid 2px;
    }
}